<?xml version="1.0" encoding="utf-8" ?>
<pages>
	<mainPage>
		<bg>Menu.Bg</bg>
		<title top="0,1">Menu.Title</title>
		<actors>
			<actor class="button">
				<pos left="0,2" top="0,85"></pos>
				<sprite>Menu.NewGame</sprite>
				<hoverSprite>Menu.NewGameSel</hoverSprite>
				<command>StartNew</command>
			</actor>
			<actor class="button">
				<pos left="0,5" top="0,85"></pos>
				<sprite>Menu.Load</sprite>
				<hoverSprite>Menu.LoadSel</hoverSprite>
			</actor>
			<actor class="button">
				<pos left="0,8" top="0,85"></pos>
				<sprite>Menu.Quit</sprite>
				<hoverSprite>Menu.QuitSel</hoverSprite>
				<command>Quit</command>
			</actor>
		</actors>
	</mainPage>
</pages>